<div class="h-100 fondo">
<div class="menu">
  <input type="checkbox" id="toggle" />
  <label id="show-menu" for="toggle">
    <div class="btn">
      <i class="toggleBtn menuBtn"><img src="../../../assets/img/logo.png" width="200px" height="205px"></i>
      <i class="toggleBtn closeBtn"><img src="../../../assets/img/logo2.jpg" width="200px" height="205px"></i>
    </div>
    <div class="btn">
        <div style="
        background: url(../../../assets/img/peliculas.png);
        width: 200px;
        height: 200px;
        background-size: cover;"></div>
    </div>
    <div class="btn">
        <div style="
        background: url(../../../assets/img/personajes.png);
        width: 200px;
        height: 200px;
        background-size: cover;"></div>
    </div>
    <div class="btn">
        <div style="
        background: url(../../../assets/img/planetas.png);
        width: 200px;
        height: 200px;
        background-size: cover;"></div>
    </div>
    <div class="btn">
        <div style="
        background: url(../../../assets/img/vehiculos.png);
        width: 200px;
        height: 200px;
        background-size: cover;"></div>
    </div>
    <div class="btn">
        <div style="
        background: url(../../../assets/img/especies.png);
        width: 200px;
        height: 200px;
        background-size: cover;"></div>
    </div>
    <div class="btn">
        <div style="
        background: url(../../../assets/img/naves.png);
        width: 200px;
        height: 200px;
        background-size: cover;"></div>
    </div>
  </label>
</div>
</div>