<div class="h-100 fondo">
<div class="menu">
  <input type="checkbox" id="toggle" />
  <label id="show-menu" for="toggle">
    <div class="btn">
      <i class="toggleBtn menuBtn"><img src="../../../assets/img/logo.gif"></i>
      <i class="toggleBtn closeBtn"><img src="../../../assets/img/logo2.jpg"></i>
    </div>
    <div class="btn">
      <div class="contenedor">
        <div style="
        background: url(../../../assets/img/peliculas.png);
        background-size: cover;" routerLink="peliculas" class="cimagen"></div>
         <div class="overlay"  routerLink="peliculas">PELÍCULAS</div>
        </div>
    </div>
    <div class="btn">
      <div class="contenedor">
        <div style="
        background: url(../../../assets/img/personajes.png);
        background-size: cover;"  routerLink="personajes" class="cimagen"></div>
         <div class="overlay"  routerLink="personajes">PERSONAJES</div>
        </div>
    </div>
    <div class="btn">
      <div class="contenedor">
        <div style="
        background: url(../../../assets/img/planetas.png);
        background-size: cover;" routerLink="planetas" class="cimagen"></div>
        <div class="overlay" routerLink="planetas">PLANETAS</div>
        </div>
    </div>
    <div class="btn">
      <div class="contenedor">
        <div style="
        background: url(../../../assets/img/vehiculos.png);
        background-size: cover;"  routerLink="vehiculos" class="cimagen"></div>
        <div class="overlay" routerLink="vehiculos">VEHÍCULOS</div>
        </div>
    </div>
    <div class="btn">
      <div class="contenedor">
        <div style="
        background: url(../../../assets/img/especies.png);
        background-size: cover;"  routerLink="especies" class="cimagen"></div>
         <div class="overlay" routerLink="especies">ESPECIES</div>
        </div>
    </div>
    <div class="btn">
      <div class="contenedor">
        <div style="
        background: url(../../../assets/img/naves.png);
        background-size: cover;"  routerLink="naves" class="cimagen"></div>
         <div class="overlay"  routerLink="naves">NAVES</div>
        </div>
    </div>
  </label>
</div>
</div>